html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(152, 151, 151);
}

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: rgb(155, 206, 246);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(157, 155, 155);
  color: rgb(155, 206, 246);
}

.btn:active {
  background-color: rgb(155, 206, 246);
  color: rgb(0, 0, 0);
}

.btn:focus {
  outline-color: 1px solid rgb(155, 206, 246);
}

/* header section */
header {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  margin-bottom: 20px;
}

/* navigation section  */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* container */
.page-container {
  background-color: rgb(194, 184, 184);
}

.page {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-list__item {
  flex-basis: calc((100% - 40px) / 3);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(129, 127, 127);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-list__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scale: 1.05;
  background-color: rgb(148, 93, 93);
}

.product-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-list__price {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  font-size: 15px;
}
